<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.momo.demo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.momo.demo.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="IMSDK"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8668381078a2058e177a75d674950fa8" />

        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".regist.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.forward.ForwardActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cosmos.photonim.imbase.chat.chatset.ChatSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cosmos.photonim.imbase.chat.image.ImageCheckActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.contacts.single.OnLineUserActivity" />
        <activity android:name=".main.groupmemberselected.GroupMemberSelectActivity" />
        <activity android:name=".main.contacts.group.GroupActivity" />
        <activity android:name=".main.contacts.single.userinfo.UserInfoActivity" />
        <activity android:name=".main.groupmember.GroupMemberActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cosmos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>